div.quickscope {
    position: absolute;
    z-index: 3;
    img.quickscope_avatar {
        position: relative;
        float: left;
        z-index: 4;
        padding: 2px;
        background-color: white;
        border-color: @light-gray-color-40;
        border-style: solid;
        border-width: 1px;
    }
    div.quickscope_text {
        h3 {
            margin-top: 2px;
        }
        position: relative;
        left: 20px;
        top: 20px;
        background-color: white;
        border-color: @content-color-80;
        border-style: solid;
        border-width: 1px;
        margin-left: 20px;
        margin-top: 20px;
    }
}